.Header {
  width: 100%;
  height: 130px;
  padding-left: 4vw;
  padding-right: 4vw;
  background-color: white;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid skyblue;
  justify-content: center;
  padding: 0 30px 30px 8%;
  a {
    text-transform: uppercase;
    color: black;
    font-size: 13px;
    font-weight: 600;
  }
  .header_upper {
    width: 100%;
    height: 40px;
  }
  .header_links {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 2vw;
    align-items: center;
    height: 20px;
    .header_link_left {
      width: 25%;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      border-right: 1px solid black;
      align-items: center;
    }
    .header_link_middle {
      width: 30%;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      border-right: 1px solid black;
      align-items: center;
      text-align: center;
      a {
        color: rgb(102, 136, 172);
      }
    }
    .header_link_right{
        width: 30%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        border-right: 1px solid black;
        align-items: center;
    }
  }
}
