.main{
    max-width: 1920px;
    width: 100%;
    height: 100vh;
    background-color: white;
    .desc{
        
        }
    .video{
        width: 100% !important;
        height: 60vh;
        object-fit: cover;
    }
    }
    .cards{
        width: 100%;
        height: 40vh;
        padding: 5% 20% 5% 20%;
        .card{
            width: 20vw;
            height: 20vh;
        }
    }
